* {
    line-height: 1.5;
}

ul {
    list-style-type: circle;
}

img {
    width: 500px;
    height: auto;
}

h1,
.description {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.grid-child {
    text-align: left;
}

.steps h3 {
    text-align: right;
}